[2020-07-06 10:28] micpp42 opened #1 "Can't install games, GOG shows a "Not compatible" message"
Installed games launch fine, but games that aren't installed have a greyed-out install button with a tooltip that says "not compatible"

[2020-07-06 17:52] Rall3n commented on #1
That's what I don't understand.

Galaxy requires the existence of a class method to enable the installation. That method (`install_game`) does exist.

The functionality is even queried by the client itself (the `InstallGame` entry in `features`):
[code]

There is no documentation of any more requirements for those capabilities.

[2020-07-07 21:15] micpp42 commented on #1
Yeah I looked at the code myself just in case it was an easy fix and as far as I can tell it should be working. My one thought is maybe there's some sort of platform indicator along the lines of "GOG doesn't know that it's a windows game" or something like that. Either that or a bug in GOG I guess.

[2020-07-08 08:25] Rall3n commented on #1
There exists a method for getting os compatability for different games. I will try it out and see if implementing this method will enable the installation of games.

[2020-07-08 22:11] micpp42 commented on #1
The update seems to have fixed it!

[2020-07-08 22:11] #1 closed

[2020-07-24 19:48] UnperfectOne opened #3 "The integration isn't showing up in the list of installed integrations"
The integration is absent from the community integrations list within GOG Galaxy, and no games are showing up for Amazon Games.

[2020-07-24 23:51] Rall3n commented on #3
@UnperfectOne If the integration is absent from your list, then it should have not been enabled and therefore it should have not imported any games labeled under Amazon.

Into which folder have you extracted the release archive? Complete path please.

[2020-07-25 02:53] UnperfectOne commented on #3
I extracted the contents of the zip file into C:\Users\USERNAME\AppData\Local\GOG.com\Galaxy\plugins\installed\amazon.

[2020-07-25 15:13] Rall3n commented on #3
@UnperfectOne Is there a file called `manifest.json` inside the extracted contents?

[2020-07-25 16:20] UnperfectOne commented on #3
There is a `manifest.json` file.

[2020-07-26 10:31] Rall3n commented on #3
@UnperfectOne Hm, that´s very strange. The existence of the file `manifest.json` and the path to the plugin file defined in it (and its existence) should be sufficient to make the integration appear in the list.

I would suggest you try it again with a fresh download of the latest release archive ([located here](https://github.com/Rall3n/galaxy-integration-amazon/releases/latest)).

[2020-07-26 17:54] UnperfectOne commented on #3
It's working now! I did the exact same process as before, except this time I had the Amazon Games app open when I added the integration. Previously, I had only opened Amazon Games after copying the integration over.

[2020-07-26 17:54] #3 closed

[2020-08-07 09:49] paultj opened #4 "Integration not showing in GOG Galaxy's Community Integrations"
I'm very interested in this integration. Will it be made available as a Community Integration within GOG Galaxy?

[2020-08-13 09:50] Rall3n commented on #4
Would love to, but I don't know how exactly. Tried something others have done, did not work.

I believe @FriendsOfGalaxy has something to do with it. If they could spare some seconds for some input on that matter?

[2020-08-16 04:07] micpp42 opened #5 "Plugin persistently uses about 1-3% CPU"
I've noticed that when everything is sitting idle, the python process attached to this integration seems to sit using just a couple percent of CPU, while all the others are using 0%. So I'm wondering if there's something this plugin is checking continuously where other plugins only update it intermittently?
![image](https://user-images.githubusercontent.com/16983501/90326272-c7b26800-dfc9-11ea-9d2

[2020-08-16 17:18] Rall3n commented on #5
Are you sure that the process belongs to this plugin? My usage is around 0 to 0.3%.

But if I had to guess, it could be the active SQLite database connection to the game database file.

[2020-08-16 22:41] micpp42 commented on #5
When I check the path it does seem to be the one belonging to the Amazon plugin
![image](https://user-images.githubusercontent.com/16983501/90345594-49a39f00-e065-11ea-80f0-12b9e5b7571b.png)
If I get a chance soon I might poke around and try to see if I can figure out why it might be happening

[2020-08-17 09:01] Rall3n commented on #5
@micpp42 Would you mind uploading the latest log file for the plugin? Contents could provide more insights.

[2020-08-17 09:12] micpp42 commented on #5
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.txt](https://github.com/Rall3n/galaxy-integration-amazon/files/5083292/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.txt)
Here's my log file

[2020-08-17 12:08] FriendsOfGalaxy commented on #4
Hello, I would love to see amazon integration in Galaxy search bar as well. Current flow is to prepare reviewed fork that GOG can use.

I'm adding reviewing your integration to my backlog, then we can discuss needed improvements/changes if any are required. This may take some time.

[2020-08-27 11:58] micpp42 commented on #5
Hi, so I poked around a bit with Process Monitor and it looks like what's causing the issue is the app seems to be persistently scanning through every uninstall entry in the Registry - I'm guessing this is how it detects which games are installed? I don't seem to be getting this behaviour from other plugins (which all tend to sit closer to 0% cpu) so I'm guessing what might be happening is that th

[2020-08-28 17:15] Rall3n commented on #5
Might have something to do with a little mistake I made which caused the plugin to check the local games twice per ping. But registry access in general could also be a huge performance eater.

I made some improvements which I will review and release mid next week.

[2020-09-03 20:18] Rall3n commented on #5
@micpp42 I just released a new version of the plugin.

It replaces the registry for installed games with a query on a SQLite database.
Please confirm if this performs better than before.

[2020-09-04 01:09] micpp42 commented on #5
That looks like it's fixed it, thanks!

[2020-09-04 01:09] #5 closed

[2020-09-26 15:28] mortenanakin opened #6 "Missing games"
Cant make this to work.. The folder inside "plugins" directory has to be named in a special way or something? :/ I really want this to work :)

EDIT: Now i can get the plugin works, but dont detect "all" my Amazon Prime games. For example, the last they give was SEUM and Bridge Constructor, and they doesnt appear in "Amazon" list in GOG 2.0 :/

[2020-09-26 16:00] Rall3n commented on #6
@mortenanakin Can´t confirm. Both appear in my GOG Galaxy library. Did you launch the Amazon Games App between redeeming and now? The integration fetches the games from a database which is populated by the App.

[2020-10-02 16:29] carskaDev commented on #6
I have same issue, what is the workaround to get this to work? I get following error.
[code]

I've named the folder "Amazon Games App", I don't know if it makes any difference.

[2020-10-02 16:36] Rall3n commented on #6
@carskaDev That message appears if the integration can't find the Amazon Games App. Make sure you have the app installed and launched / authorized at least once to populate the database from which this integration fetches the games.

[2020-10-02 18:15] carskaDev commented on #6
I install the app by pasting the folder to "installed" folder right? How do I launch it after that? Sorry for being a nuisance.

//edit
Oh, I didn't know Amazon Games is an actual app you can install :D My bad. Wanted to leave this if anyone else is as stupid as me.

[2020-10-04 11:22] lostpebble opened #7 "Logo Icon"
Hi, thanks for the awesome plugin - just dropped it in and it worked perfectly.

Just one small thing I noticed is that the icon is just a circle (think its the Galaxy client's logo) when you hover over the games. Would be cool if this was represented by the Amazon "Smiley" logo. Doesn't need text, the smile will be recognizable enough.

Just a small nitpick in an otherwise great plugin.

[2020-10-04 12:50] Rall3n commented on #7
Would be neat, but nothing I can do about.

The icons have to be implemented by GOG Galaxy 2.0.

[2020-10-04 15:15] lostpebble commented on #7
Ah okay, that's a bit silly that they don't allow some way of the plugin to customize that. So all community integrations just have to have that little circle until they decide its worthy of one...

[2020-10-04 15:35] Rall3n commented on #7
The icons are not exclusive to single integrations.

They are assigned to platforms (better understood as stores/game launchers/consoles), from which the integrations define one to support. So the games added by the integration just get the platforms icon.

[2020-10-04 16:08] #7 closed

[2020-10-05 08:28] #6 closed

[2020-10-25 13:08] matt-26 opened #8 "Keep minimized to system tray"
Is there a way to keep the prime gaming app from launching every time I load a game?
Also, I have the setting to close the launcher automatically when I close a game on, but it doesn’t seem to be working..

Thanks in advance

[2020-10-25 19:53] Rall3n commented on #8
@matt-26 As far as I know the app does not have a system tray mode (not even an icon).

But the second issue with the auto-closing will be investigated.

[2020-10-25 19:54] Rall3n commented on #4
@FriendsOfGalaxy Any update on when we can tackle this?

[2020-12-08 18:54] telorand opened #9 "Amazon "smile" icon missing from context menus and tooltips"
The Amazon Smile icon is missing from tooltips and context menus, such as when mousing over a game and seeing which connected services it comes from or when selecting which service will launch a game.

Currently, it shows as the GOG Galaxy toroid icon, which can be confusing.

![GalaxyClient_wTR8g3iXQI](https://user-images.githubusercontent.com/6642272/101528084-6e918a00-3954-11eb-8338-1b98117fcd7

[2020-12-08 21:28] Rall3n commented on #9
@telorand I would love to be able to achieve this, but my hands are tied.

The icons are defined in the application (GOG Galaxy 2.0) itself, and (as far as I know) the plugins do not have the ability to set icons.

So this is a won´t / can´t fix.

[2020-12-08 21:28] #9 closed

[2020-12-09 19:10] telorand commented on #9
Oof. I thought that might be the case, but I figured I'd try to pass this along anyway. I know the review process started a long time ago, but maybe after they review the plugin, we'll finally see this change. Take care!

[2020-12-15 04:27] Arxareon commented on #4
@FriendsOfGalaxy @Rall3n Any developments on the matter? It'd be cool if it was added as a Community Integration.

[2021-01-07 01:55] doughsay opened #10 "Installed games don't show as "installed""
Additionally, clicking the "install" button from inside GoG Galaxy just launches the game. So, it does "work", it just doesn't mark the game as installed.

[2021-01-07 02:05] doughsay commented on #10
I disconnected the plugin, installed the game through amazon games client, then re-connected the plugin and it recognized the game I installed.

[2021-01-07 21:52] GrgMdmn opened #11 "When asking for installing game from gog 2.0, does not work"
When I ask for installing an amazon prime game from gog, gog launches amazon games. Then amazon games asks me for installing. I click "yes", amazon gives me "launching installer" and then nothing happens, it doesn't ask me for the installing path (I have two different installing paths)
However, manually installing from amazon games is OK, the amazon launcher gives me the choice choosing the instal

[2021-01-08 00:30] Rall3n commented on #11
This is a problem to which I do not know a solution at this time.

The corresponding URI scheme for the Amazon Games app has been adopted to some extent from the Twitch app. Launching games through it works, but installing games through the URl scheme is not handled correctly. It ends up with this neutral installation prompt and not executing the installation upon confirmation.

Unfortunately I do

[2021-01-08 01:51] Rall3n commented on #10
@doughsay Would you mind uploading your plugin log files for further analysis?

They should be located at `C:\ProgramData\GOG.com\Galaxy\logs`.

[2021-01-08 02:13] doughsay commented on #10
Here's today's log. I just booted up and the two games I have installed in Amazon Games no longer show as installed in GoG Galaxy.

[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/5784848/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

I have "Cultist Simulator" and "Along the Edge" installed, and they were showing as inst

[2021-01-08 17:15] Rall3n commented on #10
As I thought. This is an issue I already observed happening over the week.

For some unknown reason Galaxy is not calling the necessary functions for importing local games (also updating the owned games) after plugin start until much later (I observed a minimum of an hour).

I don´t know why this is happening, as there is no indication of an error in any of the Galaxy logs. It will resume function

[2021-01-28 02:44] rodrigovda commented on #10
I have the same issue, I just Installed the plugin, it fetched my owned games correctly but it doesn't show the installed ones. This is the only log I got for this plugin:
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/5884394/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

My currently installed games are "Ape Out" and "

[2021-02-01 18:47] RodrigoTomeES commented on #10
I have the same issue, but I think the problem is that the plugin doesn't sync with Amazon app after the first sync. I believe this because it has also not synced the new February free games that I purchased today.

Edit: After one day, the plugin shows the new games

[2021-02-02 18:42] mbanczerowski commented on #10
GOG dev here. Issue confirmed and passed to investigation. As a workaround I can propose sending `update_local_game_status` shortly after `handshake_complete`

[2021-02-06 18:27] Rall3n commented on #10
I have released a new version ([`v0.3.0`](/Rall3n/galaxy-integration-amazon/releases/v0.3.0)) with a workaround. But I will keep this issue open until the main issue has been fixed.

[2021-02-08 17:47] Vadatajs opened #12 "I'd just like to say thank you"
I have been really wanting an Amazon integration and I am VERY VERY happy you did this!

Thank you so much! <3

[2021-02-08 18:13] Rall3n commented on #12
@Vadatajs Thank you for appreciating. But starring would have been enough to say thanks.

Issues are for problems. Therefore I will close this issue.

[2021-02-08 18:13] #12 closed

[2021-03-09 15:19] cmdr-keen opened #14 "Narcos is linked to wrong gamepage"
Narcos (Narcos: Rise of the Cartels) is linked to an old game (Doom clone, 1999?) with the same title that you can barely find any info on.

[2021-03-20 11:54] Rall3n commented on #14
Thanks for bringing that issue to my attention.

I'm currently trying to create a fix for that, but I can't test it until I somehow reset my Amazon part of the GOG Galaxy 2.0 database.

[2021-03-28 18:36] Scorpiopt opened #15 "Bomber Crew Deluxe showing has un recognized game on GOG 2.0"
Has title says tried sync games and restarting but still shows unknown game

[2021-03-28 18:39] Scorpiopt opened #16 "Sync fails to detect new games"
When i add games to amazon launcher , i have to remove integration and add again because no matter how many times i press sync integrations it wont detect the games

[2021-03-28 21:13] Rall3n commented on #16
Hello @Scorpiopt,

have you started the Amazon games app between redeeming the games and checking on GOG Galaxy? (May take up to 10 minutes between launching the app and automatic synchronisation through the integration).

The games are being synchronized from a local database file managed by the Amazon games app. The integration can't synchronize new games if the database is not being kept up2dat

[2021-03-28 22:07] Rall3n commented on #15
Similar issue as #14. API used by GOG does not recognize `Bomber Crew Deluxe` as the game `Bomber Crew: Deluxe Edition`.

Solution-testing is dependent on me finding a way to reset part of my galaxy database.

[2021-04-04 17:54] Scorpiopt commented on #15
any update on this?

[2021-04-16 09:15] Rall3n commented on #15
Hello @Scorpiopt,

after some thought I would recommend reporting the issue to GOG using `Report issue` in the `Cog menu`.
The game is shown as `Unknown game` which means GOGs API can't find a match, but the game is findable with the string `Bomber Crew Deluxe` on https://www.igdb.com, from where GOG gets the metadata. Also IMO the games title is unique enough to identify the correct game (there i

[2021-04-17 14:07] Rall3n commented on #14
To provide some clarification:

The Amazon Games app lists the game `Narcos: Rise of the Cartels` with simply `Narcos` as its title. This is the cause of why the game information for `Narcos 1999` is used inside of GOG Galaxy.

I could (and will) change the title inside the plugin to the correct one, but this  fix would not affect current users as GOG Galaxy refuses to take the updated title from

[2021-04-19 10:08] Rall3n commented on #14
Issue has been fixed by GOG (see gogcom/galaxy-integrations-python-api#177). After accessing the game page of the current game, the information reset to the actual game.

But I will still release a new version with changed game titles. I will keep this issue open until then.

[2021-04-23 07:39] Scorpiopt commented on #15
i did report so far no changes , also happening with game Figment

[2021-04-23 14:50] Rall3n commented on #14
After some consideration, I am now against creating a fix that has no effect.

As mentioned in the GOG issue, the plugin developers currently have no control over the title after it has been registered for the first time. So a fix on the plugins side would not help at all, as any change would be ignored by Galaxy. And you only find out about this problem after the game has been registered in Galax

[2021-04-23 14:50] #14 closed

[2021-05-09 19:51] Rall3n commented on #15
I apologize for not addressing this issue for a long time. Bomber Crew seems to be no longer an "Unknown Game", as well as Figment.

I said that I will look into a fix for this, but after overthinking it again an the resolution of https://github.com/Rall3n/galaxy-integration-amazon/issues/14#issuecomment-825711806 (which also would apply here) I will not create a fix that would not have any effect

[2021-05-09 19:51] #15 closed

[2021-05-17 03:26] cam1170 opened #17 "Failed to detect game (IGDB alternate version?)"
When scanning, the detector failed to match "Faraway: Director's Cut", which is an alternate version of Faraway, so it shows up as "Unknown game". Maybe it's not including IGDB's alternate versions in its search? Idk how that works. The game is free with Prime now if you want to debug.
https://www.igdb.com/games/faraway-directors-cut

[2021-05-17 07:21] Rall3n commented on #17
Hello @cam1170,

this is likely the same problem as #15. So this is not a problem with the plugin, but with the GOG Galaxy API. You would have to report this issue to GOG (using the `Report issue` form in the cog wheel dropdown on the top left).

[2021-05-17 07:21] #17 closed

[2021-05-24 08:53] mbanczerowski commented on #10
Hi @Rall3n, the problem does not occur already. Could you confirm?

[2021-05-25 09:00] Rall3n commented on #10
@mbanczerowski Unfortunately I can not confirm. Latest log still shows no call of tasks `import_local_games` and `import_owned_games`.

[2021-05-25 11:29] mbanczerowski commented on #10
Thanks for checking. Looks like only some plugins are affected, I'm passing that back to Galaxy issue.

[2021-06-06 17:06] ferrazpedro opened #18 "Galaxy isn't closing the Amazon client after shutting the game down"
Good afternoon!

I have marked the option to close the Amazon client after closing the game, but it's not working.

[2021-06-11 22:52] Rall3n commented on #18
Hello @ferrazpedro,

this is currently not working because the plugin is currently not tracking if a game is running or not.

But this will be fixed/available in the next release.

[2021-06-26 16:18] ferrazpedro commented on #18
Did the changes you made in the master already enabled the tracking? If you need I could help testing.

[2021-06-26 17:03] Rall3n commented on #18
Oh, I did the testing, but I didn't have the time to make a new release. I'm trying to get it done tomorrow.

[2021-06-27 22:12] Rall3n commented on #18
I have released a [new version](https://github.com/Rall3n/galaxy-integration-amazon/releases/v0.4.0) (`v0.4.0`) with the functionality to track running games and therefore automatic closing of the client.

[2021-06-27 22:12] #18 closed

[2021-06-27 22:14] Rall3n commented on #11
I have released as [new version](https://github.com/Rall3n/galaxy-integration-amazon/releases/v0.4.0) (`v0.4.0`) which removed this capability completely. I will close this issue for now but will investigate further to re-introduce this function in the future.

[2021-06-27 22:14] #11 closed

[2021-06-27 22:15] Rall3n commented on #8
I have released a [new version](https://github.com/Rall3n/galaxy-integration-amazon/releases/v0.4.0) (`v0.4.0`) which made the functionality to close the client automatically after closing a game working.

[2021-06-27 22:15] #8 closed

[2021-06-27 22:16] Rall3n commented on #16
@Scorpiopt Are you still encountering the issue?

[2021-06-28 16:27] ferrazpedro commented on #18
Sorry for commenting in a closed issue, but I had a little question. Since you added the running status, will Galaxy start to track the time played of Amazon games too?

[2021-06-28 20:18] Rall3n commented on #18
@ferrazpedro Game tracking is never done in Galaxy for games from other "platforms". The different library sources have to support this (and Amazon does not track time).

[2021-06-28 23:22] ferrazpedro commented on #18
I know i'm getting WAY offtopic, but would it be possible to implement something like https://github.com/AHCoder does in their extensions to map the played time? If it's doable, may I open an issue with it? Thanks in advance and sorry for all the trouble!

[2021-07-02 04:11] ferrazpedro opened #19 "Ability to log the time played when the client is set to auto close"
Hey! Good evening!

I'm trying to implement the same logic that https://github.com/AHCoder uses in most of his emulator plugins to track the time played to this one. The only problem is that it would only work if the amazon client is set to automatically close. If not, it will keep tracking as if the last chosen game is being played till the client stops. If everything works alright, would you be

[2021-07-07 01:39] #19 closed

[2021-07-15 15:23] EWBennett commented on #4
@FriendsOfGalaxy Any updates on this issue?

[2021-07-15 22:38] Arxareon commented on #4
I have installed it manually, you can try that. I can't remember the exact download or resource I followed but it was most probably this exact project (https://github.com/Rall3n/galaxy-integration-amazon#installation).

[2021-08-06 21:15] mbanczerowski commented on #10
Hi @Rall3n, the Galaxy version 2.0.37 has included some fixes for that matter. Could you confirm if it works this time?

[2021-08-07 08:46] Rall3n commented on #10
@mbanczerowski I saw the changelog of the latest beta version. I could observe that `import_local_games` is now called. Unfortunately it runs before authentication has finished, but that is something I have already dealt with.

Only thing not working now is `import_owned_games`, but I think the the topic of this issue has been resolved.

[2021-08-16 10:44] mbanczerowski commented on #10
@Rall3n Reproduced and passed to Galaxy team.

Is far as I know both `get_owned_games` and `get_local_games` (again) should be called after authorization.
Is the issue with

[code]
is this log error related to asking for local games before authentication? If so, consider raising `galaxy.api.errors.AuthenticationRequired`. It is currently not handle in Galaxy, but at least we'll gather some stats f

[2021-08-16 15:27] Rall3n commented on #10
@mbanczerowski

Yes. That is the error that is being thrown when trying to access the database before authentication has finished.

As you may know, this plugin requires the Amazon Games app to be installed and authenticated in order to access relevant game data as the plugin does not use API endpoints in its current state. This includes both owned games and local games, both of which have their o

[2021-08-17 12:52] mbanczerowski commented on #10
@Rall3n thanks for explanation.

I've just checked your code and looks like no externally-dependent logic is performed on `_on_auth`. For the first time AmazonGames launcher installation state is checked here https://github.com/Rall3n/galaxy-integration-amazon/blob/master/src/client.py#L16 - on the plugin construction time. So I've just moved `AmazonGamesPlugin._init_db` to the plugin constructor

[2021-09-16 10:59] willz06jw opened #21 "Plug in crashes every few minutes"
The Amazon plug in crashes every few minutes.  I am new to posting issues, so please let me know what I can give you to help.

I am running:
Windows 10 x64 v21H1
GOG Galaxy version 2.0.41.150 - Beta
Plugin version 0.4.1

I am tried reinstalling the plug in, and disconnecting reconnection, to no avail

[2021-09-16 12:23] Rall3n commented on #21
Hello @willz06jw,

could you please upload the latest logfile regarding the Amazon plugin? You can find it under `C:\ProgramData\GOG.com\Galaxy\logs\` with the filename `plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log`.

[2021-09-16 12:58] willz06jw commented on #21
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/7177866/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2021-09-16 15:22] Rall3n commented on #21
@willz06jw, I couldn't find any trace of anything that would cause a crash of the plugin.
There is an unhandled exception, but as far as I can see it is harmless and should not cause a crash.

Could you tell me what exactly is crashing: the plugin or the client itself? Could you also provide more information on this crash in general?

[2021-09-19 14:23] willz06jw commented on #21
It is the plugin itself that crashes.  Here is what I see when it does
<img width="731" alt="PlugInHasCrashed" src="https://user-images.githubusercontent.com/8368005/133930999-34f6490d-f1b9-4a73-93f7-efc5d50c810c.png">

Then I press retry and it acts like it is connected for 3 or so minutes, then crashes again
<img width="736" alt="Connected" src="https://user-images.githubusercontent.com/8368005/

[2021-10-01 16:16] Rall3n commented on #21
@willz06jw Sorry for replying this late.

Do you still encounter this error?

The latest log still does not give any hints to why it crashes.

[2021-10-01 17:08] willz06jw commented on #21
Yes I still see this error.  I have thousands of games, and 279 from Amazon.  I'm not sure if that has anything to do with it.

[2021-10-06 17:32] willz06jw commented on #21
Do you think it is because I have over 256 games?

[2021-10-06 17:54] Rall3n commented on #21
Doubtful, as I have around 310 games in my Amazon Games library, and it does not crash.

[2021-10-06 18:34] willz06jw commented on #21
How about this log, does it help with anything?  See line 11745

[GalaxyClient.log](https://github.com/Rall3n/galaxy-integration-amazon/files/7296372/GalaxyClient.log)

[2021-10-06 21:18] Rall3n commented on #16
Will close due to inactivity.

[2021-10-12 14:57] willz06jw commented on #21
Just let me know if I can help with anything on this

[2021-10-12 20:54] Rall3n commented on #21
@willz06jw I just published a new version which should get rid of the error inside the plugin logfiles.

Regarding the actual issue: I would like you to try with the new version first to see if this was the real problem. If this should not work then I would suggest you try it with only the Amazon plugin.

[2021-11-16 22:17] willz06jw commented on #21
Well, it was a pain, but I disconnected all plugins, then removed their files from the "installed" directory.  Then I reinstalled the Amazon plugin from Github, but it is still crashing.  I am attaching the logs
[GalaxyClientService.log](https://github.com/Rall3n/galaxy-integration-amazon/files/7550201/GalaxyClientService.log)
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github

[2021-11-24 19:30] Rall3n commented on #21
@willz06jw there is one last thing I would like you to try. This would require you to edit the plugins files by yourself.

I would like you to comment out the lines 180 and 181 in the file `plugin.py`. They should not affect functionality of the plugin based on your log files.

If this still does not solve your issue I would suggest trying to report it to GOG (`Cog wheel top left` >> `Report issue

[2021-12-04 06:46] DiabloStorm opened #22 "No option to install games with this plugin?"
Which means you have to open Amazon Games anyway to do this. Not very convenient.

[2021-12-04 11:55] Rall3n commented on #22
Hello @DiabloStorm,

unfortunately this is something that can't be done with the current state of the Amazon Games App (as far as I know).

I have explained why in another issue (https://github.com/Rall3n/galaxy-integration-amazon/issues/11#issuecomment-756470719), but to summarize:
There is no known way to install a game through the usage of the provided URI scheme.

If there somehow appears to b

[2021-12-04 11:55] #22 closed

[2021-12-22 20:23] markishome359 commented on #4
@FriendsOfGalaxy another bump for this. I was just looking for an Amazon Games integration in the Galaxy launcher today and was surprised there wasn't anything yet

[2022-01-04 05:08] RealLittlemrh opened #23 "Won't connect when amazon is moved to another drive"
As the title says. I moved the amazon gaming app from the C: drive to my E: drive and it won't see the amazon app, but did see the app when it was in the C: drive.

[2022-01-04 08:28] Rall3n commented on #23
@RealLittlemrh
The installation has no step to select install location afaik. How did you move the app / change install location?

[2022-01-04 08:56] TylerKweskin commented on #23
You can literally just move the whole folder, after it's downloaded, at once to change its location and it works, though it does still add a data folder in "C:\Users\[Username]\AppData\Local\Amazon Games" but all of the games are saved in the E: drive. Hopefully, this image shows what I'm explaining correctly :D (did block out personal user in the image)
![image](https://user-images.githubusercont

[2022-01-04 09:15] TylerKweskin commented on #23
Hey, I was looking through the code of "client.py" and saw it was looking for both the app.exe file and the uninstall.exe so I added them in a new folder called App in the "C:\Users[Username]\AppData\Local\Amazon Games" and placed a copy of both files and that made it work.

![image](https://user-images.githubusercontent.com/42455507/148036636-183fb253-4cf9-4616-ae44-5505aa3d50bb.png)

[2022-01-04 09:22] #23 closed

[2022-01-04 10:00] Rall3n commented on #23
Hello @RealLittlemrh,

The integration checks if the Amazon Games App is installed by looking through the registry. Its registry entry has a value for the install location which is used by the integration to find the necessary files.

As you moved the app manually the path in the registry entry still pointed to the old install location.

Also this could potentially break launching Amazon games thr

[2022-01-04 10:11] TylerKweskin commented on #23
Well from the limited test I did it worked just fine, thanks.😃

[2022-01-05 06:00] vinicius94 opened #24 "Install feature"
I checked the history log and saw that you removed the install feature. Why?

I decompiled the applications and know the "right way" calling install doesn't work, but, calling play does the trick. There's a special reason? Have you tried contacting Amazon?

[2022-01-05 20:40] Rall3n commented on #24
Hello @vinicius94,

I removed it because it does not work. Calling the `play` scheme command does not do the trick. Here is a screen capture of what happens when you try to use `amazon-games://play/...` to start a game not installed on your computer:

https://user-images.githubusercontent.com/15950630/148259824-ea8038d2-87ab-4877-a59a-223667675467.mp4

Calling the command causes a prompt to appear

[2022-01-05 23:02] vinicius94 commented on #24
Hi @Rall3n, thanks for replying. It's a shame it doesn't work properly and you haven't been able to get in touch with anyone. I'll close the issue, cause there's nothing you can do.

Again, thanks for your time

[2022-01-05 23:02] #24 closed

[2022-02-23 00:10] bramnet commented on #4
@FriendsOfGalaxy Just bumping, doesn't look like anything from you has been said since August 2020.

[2022-03-24 19:31] K9Paradox opened #25 "No longer fuctions."
Error while trying to search Amazon Games App

[2022-03-24 20:12] Rall3n commented on #25
Hello @K9Paradox,

thank you for creating this issue. Unfortunately the information you provided is not enough to properly help solving this issue.

Would you be so kind and provide more information regarding your issue?
* Do you have the Amazon Games App installed?
* Have you authenticated at least once in the app?
* Could you provide your latest plugin log file (Located at `C:\ProgramData\GOG.co

[2022-04-21 22:35] b2dmx opened #26 "Does not work"
I have the Amazon Games App installed.
I have logged into the Amazon Games App.
I have the latest release of the plugin file placed as directed and advised in both Program Files & AppData.
I do not even have a log because GOG has not accepted the plugin to begin with.

[2022-04-22 05:38] Rall3n commented on #26
Hello @b2dmx,

Would you be so kind and share the complete path to the plugins `plugin.py` file?

Could you also share the file structure inside the plugins folder?

[2022-04-22 13:33] b2dmx commented on #26
Fresh install of both Amazon games app and GOG resolved issue.

[2022-04-22 13:33] #26 closed

[2022-05-14 08:29] velgopie opened #27 "Not finding games in GOG"
No amazon games are showing in GOG

- Using latest release
- The files are placed in C:\Users\*my user*\appdata\Local\GOG.com\Galaxy\plugins\installed\amazon
- I've made sure to log into the Amazon Games app and authenticated before connecting
- The plugin shows up in GOG and I can connect fine but no games show up

I've tried restarting the computer and reinstalling GOG, amazon games and the plug

[2022-05-14 08:31] velgopie commented on #27
Here is the latest plugin log file
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8692555/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2022-05-14 23:21] Rall3n commented on #27
@velgopie I can't see a problem with the plugin based on the logs you provided.

Couple of questions:
* Have you already claimed games before installing and authenticating the Amazon Games App?
* Have you claimed games after doing that?
* Have you started the application since connecting the plugin?
* Can you confirm, that the Amazon Games App is installed under `%LOCALAPPDATA%\Amazon Games\App` a

[2022-05-19 19:25] jleafz commented on #27
I'm having the same issue as @velgopie

"Can you confirm, that the Amazon Games App is installed under %LOCALAPPDATA%\Amazon Games\App and that there exists a GamesProductInfo.sqlite file in the %LOCALAPPDATA%\Amazon Games\Data\Games\Sql folder?"

I checked on this and the file is named GameProductInfo.sqlite (no "s" on Game)

Could this be the issue @Rall3n ?

[2022-05-19 20:08] Rall3n commented on #27
No, This was a typo on my side.

[2022-05-21 12:48] LineKernel commented on #27
same issue , the app is installed in the right folder and the file you ask is indeed in the right folder , the app is started but i didnt installed any games , could this be the problem ?

[2022-05-21 14:32] jleafz commented on #27
@LineKernel I didn't have any amazon games installed at the moment (due to recent windows 10 reset) and so I just went ahead and downloaded one hoping it would help GOG recognize rest of Amazon games. It did not work, however. Please let me know if you have any luck.

[2022-05-22 14:29] LineKernel commented on #27
hi @jleafz i just tried the same as you , i installed a game , started it , and while started i started gog , it didnt work

[2022-05-22 15:55] Rall3n commented on #27
@velgopie @jleafz @LineKernel I have released a [new version](https://github.com/Rall3n/galaxy-integration-amazon/releases/tag/v0.4.3) which should log errors when trying to fetch data from the local Amazon Games database file.

I would like to ask you to install this version, let Galaxy run with it for a couple of minutes, and then provide the log files to me for analysis.

[2022-05-22 22:36] LineKernel commented on #27
hi , i dont know where to find the .log once it s installed and run for a while

[2022-05-23 20:21] kevincastejon commented on #27
@Rall3n hi, I followed the installation instructions, the amazon integration do show up into Galaxy but games do not appear. Here is my log:
<details>
<summary>Galaxy Amazon log file</summary>

[code]
</details>

[2022-05-23 21:29] jleafz commented on #27
@Rall3n I downloaded and installed the new version. Here are the logs I believe you were requesting. Please let me know if there's anything I can do that would be helpful. Thanks for all the help!

[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8758165/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2022-05-24 10:49] velgopie commented on #27
@Rall3n Hi, sorry for the late response. I have installed the new version, here are the new logs. Thanks!

[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8761943/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2022-05-24 14:50] kevincastejon commented on #27
it looks like the table DbSet can't found

edit : actually it looks like the GameProductInfo.sqlite file is empty and 0ko size

[2022-05-24 20:24] Use1355 commented on #27
Hello, I just installed GOG Galaxy 2.0.50 and happy to found this plugin. It worked without issue on my side:
- GOG Galaxy installed and running
- Extracted the last version into one folder named 'amazon_games'
- Restarted GOG Galaxy
- Amazon Games is available in plugins list; clicked on 'Connect' button to start synchronisation
- Games appear in the list

I may share my log file if that can help

[2022-05-24 21:06] Yaushee commented on #27
@Rall3n It's not working for me either, can you instruct me on how to generate and find the log file?

[2022-05-26 06:11] sixcandy commented on #27
Hello, got another one here for you. have had this working on my GOG account in the past but the game just disappeared tried a fresh install and a few other ticks but seems to be the Amazon file GameProductInfo.sqlite having nothing inside it.

[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8776686/plugin-amazon-c2cd2e29-8b02-35a9

[2022-05-26 16:44] Rall3n commented on #27
So, Amazon updated their application and replaced the current game database with a new one, where the data is encrypted into it.

Fortunately, they use Windows Cryptography APIs (`crypt32`) for their encryption, which are also available through the python `ctypes` module.

Updated version is on its way.

[2022-05-26 16:44] #27 closed

[2022-05-26 16:54] Rall3n commented on #25
Closing this because:
1. No response from the author
2. Probably same issue as #27, caused by changes made by Amazon.

[2022-05-26 16:54] #25 closed

[2022-05-26 17:00] jleafz commented on #27
You rock @Rall3n!  Just installed new plugin version and it works perfectly. Thanks for all the effort and hard work, it's much appreciated!

[2022-05-27 06:46] kevincastejon commented on #27
awesome, it works like a charm! thank you @Rall3n

[2022-05-28 05:16] velgopie commented on #27
Can also confirm it now works perfectly. Many thanks @Rall3n, appreciate all the hard work!

[2022-06-22 04:13] finkleroy opened #29 "Newly Claimed Games Don't Show As Owned"
All the games I've previously claimed show as owned, but I just claimed a bunch of new games, and they don't show up, even after launching the Amazon client and leaving it open while I disconnect and reconnect the integration. This is the first time I've noticed this issue.

[2022-06-22 17:52] Rall3n commented on #29
@finkleroy I cannot confirm the existence of this problem. Are you using the latest version of the plugin?

Would you be so kind and provide the log file for the plugin?

[2022-06-22 21:20] Leonard03 commented on #29
Not sure if it's related but I just installed this plugin for the first time and none of the games in my Amazon library are appearing. Here's my log if it helps
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8961346/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2022-06-23 01:37] kaniskai commented on #29
I just downloaded v0.5.0 and set it up. My library of Amazon games is also not registering. I don't know how to get a log though.

[2022-06-23 17:31] Rall3n commented on #29
@Leonard03 I can't find an issue with your log file. Games are found and registered into GOG Galaxy. Even the newest ones (e.g. "Giana Sisters").

-----

@kaniskei Log files are located at `%PROGRAMDATA%\GOG.com\Galaxy\logs` and prefixed `plugin-amazon-...`. The latest log file should just have the file extension `.log`.

[2022-06-23 18:50] kaniskai commented on #29
@Rall3n ah thank you - it didn't show up all last night but I just logged in and opened GOG today. My amazon library is now visible :D

[2022-06-23 23:24] Leonard03 commented on #29
@kaniskei Ahh, lucky.

@Rall3n Yeah, this is weird. One thing I did notice that seems kinda weird:
[code]

Why in the world does it think it doesn't need to make any amazon games as owned? This is right after a fresh install of the plugin.

[2022-06-24 03:29] finkleroy commented on #29
I'm using version 0.5.0.0. Where can I find the log file?

[2022-06-24 11:14] Rall3n commented on #29
@finkleroy Log files are located at `%PROGRAMDATA%\GOG.com\Galaxy\logs` and prefixed `plugin-amazon-....` The latest log file should just have the file extension `.log`.

[2022-06-24 11:19] finkleroy commented on #29
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8975747/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2022-06-24 17:31] Rall3n commented on #29
@Leonard03 That just says that there are no new games to be marked as owned, and that all the games listed are already marked as owned.

-----

@finkleroy I can't find any problems with your log file. As with the other, the latest claimable games show up (e.g. 'Giana Sisters'). Could you please check if you can search for the game and see if it is marked as owned?

[2022-06-24 17:38] Leonard03 commented on #29
@Rall3n Right, that's what I don't understand. I didn't find exact details in the galaxy api docs but presumably on the first connection of a newly installed plugin all of the newly connected games would need to be marked as owned - 177 in this case.

[2022-06-24 18:21] kaniskai commented on #29
@Rall3n i didn't get time to reply yesterday but my Amazon games are not listing anymore. So strange but I've attached my log for you though based on previous messages I'm not sure how much help it is.

[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8979057/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2022-06-24 22:47] finkleroy commented on #29
None of the latest games show as owned for me.

[2022-06-27 09:32] montypap commented on #29
This no longer imports games. It was unable to detect new games so I reinstalled it, now it is no longer able to detect my old/installed games either.
[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/8990983/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)

[2022-06-27 18:26] Rall3n commented on #29
After some investigation I found out that Amazon saves one of the games without its title, causing an issue within Galaxy.

A new version has been released that fixes this problem.

[2022-06-27 18:53] finkleroy commented on #29
I disconnected and reconnected the plugin, which auto-updated it to version 0.5.1.0, but the issue persists. It's not an issue with only one game. Some of the games that were recently added to Prime Gaming show as owned, but some do not. It's possible that some, or possibly all, of the recently added games were previously given out in Prime Gaming, and that could be why they show up while the rest

[2022-06-27 22:58] Rall3n commented on #29
Yeah, the problem reoccurred despite the fix.

Newest version should properly fix this issue.

[2022-06-27 23:12] Leonard03 commented on #29
@Rall3n Ayyyy. We're in business here. Thanks for the fix.
Seems weird that Galaxy doesn't recover from a single missing game title though...

[2022-06-27 23:28] finkleroy commented on #29
Everything seems fine now. I really appreciate you taking the time to get to the bottom of it and fix it.

[2022-07-25 05:02] jedthe3rd commented on #21
@Rall3n I am getting this issue as well. Same issue where there isn't any error logs for the crash. But I did observe GOG saying plugin not responding then the plugin was marked as crashed. Maybe there is an API timeout that it is expecting to be refreshed?

After observing it more windows definitely doesn't detect it as not responding in task manager so it looks like GOG Galaxy itself is killing

[2022-08-04 12:40] Rall3n commented on #21
@jedthe3rd Would you mind providing the log files for both the plugin and Galaxy in general?

[2022-08-14 18:51] jedthe3rd commented on #21
Looks like the plugin isn't responding to the heartbeat check:

[code]

[plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log](https://github.com/Rall3n/galaxy-integration-amazon/files/9333924/plugin-amazon-c2cd2e29-8b02-35a9-86fc-3faf90255857.log)
[GalaxyClient.log](https://github.com/Rall3n/galaxy-integration-amazon/files/9333925/GalaxyClient.log)

[2022-09-04 04:26] Sonkra commented on #4
@FriendsOfGalaxy Bumping still, I don't even think they have been online since Feb of 2021.